= simple_form_for @item, url: url do |f|
  .row
    .col-md-6
      = f.input :name
      %br
      = f.input :price
  %br
  %br
  .row
    .col-md-2
      .pull-right
        = f.submit 'Save', class: 'btn btn-primary'
        = link_to 'Back', admin_items_path, class: 'btn btn-default'

