%tr{id: "row_#{@item.id}"}
  %td= @item.name
  %td.text-right= number_to_currency(@item.price, unit: '£')
  %td.text-right
    = text_field_tag 'qty', '', data: { price: @item.price }, 
      id: @item.id, class: 'qty', name: "order[items][#{@item.id}][qty]"
  %td.text-right{id: "value_#{@item.id}", class: 'total_price' } 0.00

:javascript
  $('.qty').keyup(function(){
    var price = $(this).attr('data-price') * $(this).val()

    if(isNaN(price)) {
      $('#value_'+$(this).attr('id')).html(0.00.toFixed(2));
    } else {
      $('#value_'+$(this).attr('id')).html(price.toFixed(2));
    }
    calculate_order_price();
  });
