- if flash[:error]
  $('#message').html("#{escape_javascript(render 'shared/messages')}")
- else
  $('#discount_price').html("Discount Price: £ #{@discount_price.round(2)}").attr('data-discount-price', #{@discount_price});
  $('#final_price').html('Final Price: £ #{@final_price.round(2)}').attr('data-final-price', #{@final_price});
