.col-md-10
  .panel.panel-default 
    .panel-heading
      .panel-title New Order 
    .panel-body
      = simple_form_for @order do |f|
        .row
          .col-md-12
            .items
              - Item.all.each do |item|
                .col-md-2.item-style
                  %div.item-img= image_tag(asset_path("image_#{item.id}.jpeg"))
                  = f.check_box :item, data: { price: item.price, name: "order[items][#{item.id}][id]" }, 
                    class: 'item', id: item.id
                  #{item.name}
                  %br
                  %p.item-price= number_to_currency(item.price, unit: '£')
        #summary.hide
          .row
            .col-md-12
              #basket
                %table.table
                  %thead
                    %tr
                      %th Item Name
                      %th.text-right Price
                      %th.text-right Qty
                      %th.text-right Total Price
                  %tbody#append_item
          .row
            .col-md-12
              .text-right#total_price
                Total Price: #{0.00}

          .row
            .col-md-12
              = f.input :promocodes, collection: Promocode.pluck(:name, :id), wrapper: :bootstrap,
                wrapper_html: { class: 'col-md-6' },
                my_wrapper_html: { class: 'col-md-6' }, label_html: { class: 'col-md-6' },
                label: 'Select promocode', 
                input_html: { multiple: true }, selected: @order.promotions.pluck(:promocode_id) 
              .col-md-2
                = link_to 'Apply', '#', class: 'btn btn-primary apply'
              .text-right
                %p{id: 'discount_price'} Discount: (-) £ 0.00
                %br
                %p{id: 'final_price'} Final Price: £ 0.00

          .row
            .pull-right
              .col-md-2
                = f.submit 'Place Order', class: 'btn btn-primary final-submit disabled'
