.col-md-6
  .panel.panel-default 
    .panel-heading
      .panel-title 
        Amount : #{number_to_currency(@order.price_after_discount, unit: '£')}
    .panel-body
      = simple_form_for @customer, url: payment_order_path(@order), html: { method: :post } do |f|
        .row
          .col-md-12
            = f.input :email
            = f.input :address, as: :text
            = f.simple_fields_for :cards, @card || Card.new do |card|
              = card.input :credit_card, input_html: { maxlength: 16 }
              = card.input :card_expiry_month, collection: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
              = card.input :card_expiry_year, collection: [2016, 2017, 2018, 2019, 2020, 2021, 2022]
              = card.input :card_cvv, input_html: { type: 'password', maxlength: 3 } 
            = f.submit 'Confirm payment', class: 'btn btn-primary pull-right'
