= simple_form_for @promocode, url: url do |f|
  .row
    .col-md-6
      = f.input :name
      %br
      = f.input :promo_type, collection: [['Flat', 'flat'], ['Percentage', 'percentage']] 
      %br
      = f.input :value
      %br
      = f.input :used_in_conjuncation, collection: [['Yes', true], ['No', false]]
  .row
    .col-md-2
      .pull-right
        = f.submit 'Save', class: 'btn btn-primary'
        = link_to 'Back', admin_promocodes_path, class: 'btn btn-default'
