.panel.panel-default 
  .panel-heading
    .panel-title Promocodes 
  .panel-body
    .col-md-8
      %table.table
        %thead
          %tr
            %th Name
            %th Type
            %th Value
            %th Used in conjuncation
            %th

        %tbody
          - @promocodes.each do |promocode|
            %tr
              %td= promocode.name
              %td= promocode.promo_type
              %td= promocode.value
              %td= promocode.used_in_conjuncation ? 'Yes' : 'No'
              %td= link_to 'Edit', edit_admin_promocode_path(promocode), class: 'btn btn-primary btn-xs'

      %br

    .row
      .col-md-8
        .pull-right
          = link_to 'New Promocode', new_admin_promocode_path, class: 'btn btn-primary'
